<%= form_with(model: oganization, local: true) do |form| %>
  <% if oganization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oganization.errors.count, "error") %> prohibited this oganization from being saved:</h2>

      <ul>
      <% oganization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :oganization_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, id: :oganization_email %>
  </div>

  <div class="field">
    <%= form.label :web %>
    <%= form.text_area :web, id: :oganization_web %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled, id: :oganization_enabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
